*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 0.438rem;
    padding-bottom: 0.625rem;
    background-color:white ;
}

.nav-container {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 16px;
}



.nav-list li:hover {
    border-bottom: 2px solid black;
}

ul a {
    color: black;
    text-decoration: none;
}

.nav-button-link {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f05a10;
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-right: 15px;
    font-size: 16px;

}
.menu-icon{
    display:none;
}
.logo-icon{
    display: none;
}
.logo-container{
    margin-left: 40px;
    padding: 5px;
}


@media only screen and (min-width:375px )and (max-width:667px) {

    .menu-icon{
        display: flex;
        border: 1px solid black;
        margin-left: 10px;
        padding: 8px;
        width: 18px;
        border-radius: 4px;
        margin-right: 10px;

    }
    .navigation{
        display: none;
    }
    .logo-container{
        display: none;
    }
    .header{
        width: 100%;
        height: auto;
        margin: unset;
        background-color: white;
    }
    .logo-icon{
        display: flex;
        margin: 10px;
        width: 100px;
    }
    .nav-button-link {
        padding: 0.40rem 1.3rem;
        color: #fff;
        border: 0;
        background: #f05a10;
        font-weight: 600;
        line-height: 1.875rem;
        display: block;

    }
    .nav-container{

        gap:0.5rem;
    }
    /* .case-study{
        display: none;
    } */
}
@media only screen and (min-width:668px )and (max-width:1024px){


    .header{
        width: 100%;
    }

}



